<div class="center jumbotron">
  <h1>Welcome to the Pets Home!</h1>

  <h2>
    Get help from other pet's lovers is fast and easy!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
