<% if @postattachments %>
  <div class="row">
    <% @postattachments.each do |attachment| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag attachment.picture.url() %>
        </div>
        <div class="panel-body">
          <span class="pull-right">
            <%= link_to [attachment.post, attachment], remote: :true, method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-times fa-lg"></i>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>