<p>How to post?</p>
<ul>
  <li>Provide details.</li>
  <li>Provide your pet's location.</li>
  <li>Provide your preferred contact method in the body so other pets' lovers can contact you easily!</li>
</ul>