/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray: #777;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


/* footer */

footer#page-footer {
  margin-top: 45px;
  padding: 20px 25px;
  border-top: 1px solid $gray-medium-light;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $gray;
      text-decoration: underline;
    }
  }
  ul {
    text-align: center;
    list-style: none;
    li {
      display: inline;
      margin-left: 20px;
    }
  }
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}


.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}