/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray: #777;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


/* footer */

footer#page-footer {
  margin-top: 45px;
  padding: 20px 25px;
  border-top: 1px solid $gray-medium-light;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $gray;
      text-decoration: underline;
    }
  }
  ul {
    text-align: center;
    list-style: none;
    li {
      display: inline;
      margin-left: 20px;
    }
  }
}