/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray: #777;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  width: 80px;
  height: 30px;
}

.navbar-nav > li > a {
  margin-top: 13px;
  font-size: 18px;
}


/* footer */

footer#page-footer {
  height: 30px;
  margin-top: 0px;
  padding: 20px 25px;
  border-top: 1px solid $gray-medium-light;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $gray;
      text-decoration: underline;
    }
  }
  ul {
    text-align: center;
    list-style: none;
    li {
      display: inline;
      margin-left: 20px;
    }
  }
}

#bg-fade-carousel {
  height: 100%;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8 {
  min-height: 800px; /* Must have a height or min-height set due to use of background images */
  background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  max-width: 100%
}
.slide1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/dogs_in_cart.png');
}
.slide2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/jimwin2dogs.png');
}
.slide3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/yogulookup.png');
}
.slide4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/paigouside.png');
}
.slide5 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/tiggerside.png');
}
.slide6 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/winflo2dogs.png');
}
.slide7{
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/yoguside.png');
}
.slide8 {
  background-image: url('https://s3-us-west-2.amazonaws.com/petshome-ca/background/tiggercloseup.png');
}

/* Carousel Overlay */

.carousel-overlay {
  color: white;
  position: absolute;
  top: 40%;
  left: 50px;
  right: 50px;
}
.carousel-overlay h1 {
  font-size: 3.5em;
  color: white;
}
.carousel-overlay h2 {
  color: white;
}
.carousel-overlay .btn {
  border-top: none;
    border-left: none;
    border-right: none;
}
.carousel-overlay .btn-lg {
    font-size: 1em;
    padding: 10px 30px;
}
.circles {
  margin-top: 20px;
    background-color: #398439;
    color: #fff;
    border-radius: 50%;
    line-height: 3em;
    width: 3em;
    height: 3em;
}
.featurette-image {
    display: block;
    margin: auto;
}