<div class="col-md-10">
  <h4>Add a review</h4>
  <%= form_for [post, review] do |f| %>
    <div class="form-group">
      <%= f.label :body, class: 'sr-only' %>
      <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new review" %>
    </div>
    <%= f.submit "Submit Review", class: 'btn btn-default' %>
  <% end %>
</div>
